html {
    min-height: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(21, 3, 100), rgb(133, 1, 111, 0.842));
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    color: white;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 10px;
}

.info {
    background-color: rgb(255, 94, 0);
    border-radius: 5px;
    padding: 10px;
}

a {
    transition: transform .3s;
    padding: 0px 5px;
}

.project_links:hover {
    color: brown;
}

#about_me {
    width: 50%;
    position: relative;
    margin: auto;
    top: 100px;
}

#container {
    height: 100%;
}

#nav-bar {
    position: fixed;
    top: 0;
    background-color: #220b0b;
    z-index: 100;
    width: 100%;
}

.navbar_li {
    display: inline;
    padding: 16px 14px;
    float: right;
    font-weight: bold;
    margin: 5px;
    font-size: large;
    transition: transform .5s;
}

.navbar_li:hover {
    transform: scale(1.2);
}

#project_intro {
    position: relative;
    top: 350px;
    width: 50%;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}

#projects {
    position: relative;
    top: 270px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
}

.content {
    padding: 30px;
    height: 100px;
}

#hey {
    font-size: 40px;
    font-weight: bolder;
    width: fit-content;
}

#name {
    font-size: 75px;
    font-weight: bold;
    text-shadow: 5px 3px rgba(255, 0, 0, 0.774);
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 50vw;
    margin: 0 auto;
}

.about_me {
    font-size: 40px;
    font-weight: bold;
    width: 50%;
    margin: auto;
}

#occupation {
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
}

.bar {
    color: rgb(106, 87, 107);
}

#details {
    position: relative;
    top: 100px;
}

#more_details {
    background-color: rgb(255, 153, 0);
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 30px 15px rgba(219, 4, 4, 0.24);
    margin: auto;
    position: relative;
    top: 100px;
}

.project {
    background-color: rgb(255, 153, 0);
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 30px 15px rgba(219, 4, 4, 0.24);
    margin: auto;
    position: relative;
    top: 100px;
    transition: transform 0.3s;
}

.about_project {
    display: flex;
}

.project:hover {
    transform: scale(1.05);
}

#contact_me {
    display: table;
    width: 50%;
    position: relative;
    margin: auto;
    align-items: center;
    top: 300px;
    background-color: rgb(255, 153, 0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 30px 15px rgba(219, 4, 4, 0.24);
    text-align: center;
}

.contact_me_li {
    text-align: center;
    display: inline-block;
    padding: 16px 14px;
}

.contact_me_li img {
    /* display: inline-block; */
    transition: transform .3s;
}

.contact_me_li img:hover {
    transform: scale(1.2);
}

#img_technologies {
    display: flex;
    justify-content: center;
}

figcaption {
    text-align: center;
}

.footer {
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
    background-color: #220b0b;
    padding: 20px;
    margin: auto;
}