* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(21, 3, 100), rgb(133, 1, 111, 0.842));
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    color: white;
    height: 100vh;
}


/* 
#nav-bar {
    position: fixed;
    top: 0;
    align-items: flex-end;
    overflow: hidden;
} */

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 10px;
}

a {
    transition: transform .3s;
    padding: 0px 5px;
}

a:hover {
    transform: scale(1.1);
}

#container {
    display: flex;
    justify-content: center;
    height: 100%;
}

#about_me {
    width: 50%;
    position: relative;
    margin: auto;
    top: 100px;
}

.navbar_li {
    display: inline;
    padding: 16px 14px;
    float: right;
    font-weight: bold;
    margin: 5px;
    font-size: large;
    transition: transform .5s;
}

.navbar_li:hover {
    transform: scale(1.2);
}

#project_intro {
    position: relative;
    top: 100px;
    width: 50%;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}

#projects {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
}

.content {
    padding: 30px;
    height: 100px;
}

#hey {
    font-size: 30px;
    font-weight: bolder;
    width: fit-content;
}

#name {
    font-size: 50px;
    font-weight: bold;
    width: fit-content;
    text-shadow: 3px 3px rgba(255, 0, 0, 0.774);
}

.about_me {
    font-size: 40px;
    font-weight: bold;
    width: fit-content;
    text-shadow: 3px 3px rgba(255, 0, 0, 0.774);
}

#occupation {
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
}

.bar {
    color: rgb(106, 87, 107);
}

#more_details {
    background-color: rgb(255, 153, 0);
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 30px 15px rgba(219, 4, 4, 0.24);
    margin: auto;
    position: relative;
    top: 100px;
}

.project {
    background-color: rgb(255, 153, 0);
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 30px 15px rgba(219, 4, 4, 0.24);
    margin: auto;
    position: relative;
    top: 100px;
}

.about_project {
    display: flex;
}

#contact_me {
    display: flex;
    width: 50%;
    position: relative;
    margin: auto;
    top: 50px;
}

.contact_me_li {
    display: inline;
    padding: 16px 14px;
    transition: transform .5s;
}

.contact_me_li img {
    display: inline;
    padding: 16px 14px;
    transition: transform .5s;
}

.contact_me_li img:hover {
    transform: scale(1.2);
}

#img_technologies {
    display: flex;
    justify-content: center;
}

figcaption {
    text-align: center;
}